body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #4f9edb; }

p,
body .main_footer,
.s_about li,
.main_head li {
  color: #888; }

.color_element {
  color: #4f9edb; }

.color_bg {
  background-color: #4f9edb; }

.color_border {
  border-color: #4f9edb; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #fff; }
  .bg_dark .s_descr::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }

.main_color_bg {
  background-color: #222; }

.main_about p {
  color: #FAFAFA; }

.top_mnu a:hover {
  color: #4f9edb; }
.top_mnu a {
  letter-spacing: 4px; }

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px; }
.top_text h2 {
  color: #FAFAFA;
  letter-spacing: 16px; }

.top_text2 h2 {
  letter-spacing: 2px; }
.top_text2 h3 {
  letter-spacing: 5px; }
.top_text2 h4 {
  letter-spacing: 11px; }

.personal_header {
  letter-spacing: 2px; }

.s_descr {
  letter-spacing: 5px; }
  .s_descr::after {
    background-color: #222; }

section h3 {
  letter-spacing: 3px;
  color: #888; }

.s_about p:nth-child(even) {
  color: #4f9edb; }

.social_wrap a {
  color: #fff; }
.social_wrap p:nth-child(even) {
  color: #4f9edb; }

.wrapper .border {
  border: 3px solid #fff;
  border-radius: 50%; }

.wrapper-dark .border {
  border: 3px solid #222;
  border-radius: 50%; }

.section-description p {
  color: #9e9e9e; }
.section-description h2 {
  color: #fff; }
.section-description .icon-outer {
  border: 0.125em solid #fff; }
.section-description .icon-inner {
  fill: #fff; }

.section-description-dark p {
  color: #9e9e9e; }
.section-description-dark h2 {
  color: #000; }
.section-description-dark .icon-outer {
  border: 0.125em solid #000; }
.section-description-dark .icon-inner {
  fill: #000; }

.resume_container h3 {
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600; }

.resume_item .year {
  background-color: #4f9edb;
  color: #fff; }
.resume_item .resume_description {
  letter-spacing: 1px; }

.s_portfolio li {
  color: #888;
  letter-spacing: 2px; }
.s_portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #4f9edb; }

.portfolio_item .port_item_cont a {
  border-color: #4f9edb;
  color: #4f9edb; }

.main_footer a {
  color: #4f9edb; }

.popup_content {
  letter-spacing: 1px; }

.down-btn .down-btn-inner {
  border: 0.225em solid #4f9edb; }
.down-btn .down-btn-icon {
  fill: #4f9edb; }
